body{
	background: url(../images/body_bg.png);
	font-family: Arial;
}
a{
	color: #444444;
}
p{
	color: #444444;
}
.right{
	float: right;
}
.left{
	float: left;
}
/*------------------------------HEADER-----------------------------------------*/
#header{
	width: 100%;
	height: 35px;
	//outline: dotted 1px invert;
	background: url(../images/header_bg_copy.png) repeat-x;
}
.header_menu{	
	margin: 0 auto;
	//outline: dotted 1px invert;
	width: 1020px;
	height: 35px;
}
.header_menu ._item{
	float: left;
	border-right: solid 1px #d6d6d6;
	margin-right: 15px;  
	width: 100px;
	height: 35px;
}
.header_menu a{
	float: left;
	margin: 8px 5px 0 5px;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
.header_icon{
	float: left;
	margin-top: 3px;
}
.br_icon{
	float: left;
	opacity: .5;
	margin-left: 10	px;
}
/*------------------------------END HEADER-----------------------------------*/
/*---------------------------------MAIN--------------------------------------*/
#wrapper{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	//outline: dotted 1px invert;
}
.m_header{
	//outline: dashed 1px invert;
	float: left;
	width: 1200px;
	height: 100px;
}
.logo{
	//outline: dashed 1px invert;
	margin-top: 20px;
	float: left;
	width: 269px;
	height: 60px;
}
.search{
	margin-top: 25px;
}
.search_ico{
	position: relative;
	left: 7px;
	top: 23px;
	width: 18px;
	height: 15px;
	background: url(../images/search_ico.png);
}
.search_text{
	font-size: 13px; 
	padding: 5px 5px 4px 30px; 
	width: 500px; 
	background: #fff;
	border: solid 1px #d6d6d6; 
	border-radius: 5px 0 0 5px;
}
.search_buton{
	color: #fff; 
	border: none; 
	margin-left: -5px; 
	width: 111px; 
	height: 28px; 
	background: url(../images/search_buton.png);
}
/*----------------------------FIRST SITEBAR-------------------------------------------*/
#first_sidebar{
	float: left;
	//outline: dashed 1px invert;
	width: 235px;
	height: 100%;
	margin: 0 15px 0 15px;
}
.first_menu{
	margin: 10px 0 0 30px;
}
.first_menu ._item{
	margin-top: 5px;
	width: 180px;
	border-bottom: solid 1px #d6d6d6;	
}
.first_menu a{
	display: block;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 10px 10px;
}
.second_menu{
	background: #fff;
	margin-top: 120px;
	padding-bottom: 10px;
	width: 230px;
	height: auto;
	border: solid 1px #d6d6d6;
	border-radius: 5px;
}
.second_menu ._item{
	margin-top: 5px;
	width: 180px;
	border-bottom: solid 1px #d6d6d6;		
}
.second_menu a{
	display: block;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 10px 10px;
}
.second_menu a:active{
	color: #76d0ed;
}
.inner_menu{
	margin: 10px 0 0 0;
	list-style-type: none;
}
.inner_menu a{
	text-decoration: none;
	font-size: 12px;	
}
.inner_menu a:active{
	color: #76d0ed;
}
/*------------------------------END FIRST SIDEBAR-----------------------------------*/
/*------------------------------SECOND SIDEBAR--------------------------------------*/
#second_sidebar{
	float: left;
	//outline: dashed 1px invert;
	width: 160px;		
	height: 100%;
	margin-left: 15px; 
}
.reklama{
	width: 140px;
	height: 1000px;
	margin: 0 10px 0 10px;
}
.reklama ._header{
	width: 120px;
	height: 30px;
	border-top: solid 1px #d6d6d6;
	border-bottom:  solid 1px #d6d6d6;
	margin: 0 0 15px 5px;
	padding: 5px 0 0 10px;
}
.reklama a{
	margin: 2px 0 0 10px;
	text-decoration: none;
	font-size: 16	px;
	font-weight: bold;
}
.reklama ._item{
	margin-bottom: 10px; 
	border-bottom:  solid 1px #d6d6d6;
}
.reklama ._item a{
	font-size: 12px;
	color: #0397cd;
}
.reklama ._item img{
	margin-top: 5px;
	border: solid 1px #d6d6d6;
	border-radius: 3px;
}
.reklama ._item p{
	margin-top: 5px;
	color: #111;
	font-size: 12px;
}
/*------------------------------END SECONT SIDEBAR------------------------------------*/
/*------------------------------CONTENT-----------------------------------------*/
#content{
	float: left;
	//outline: solid 1px invert;
	width: 755px;	
	height: 600px;
}
#main{
	//outline: dotted 1px invert;
	float: left;
	width: 1200px;
	height: 1000px;
	background: url(../images/content_bg.png);
}
.user_info{
	background: #fff; 
	width: 760px; 
	height: 260px; 
	border: solid 1px #d6d6d6; 
	border-radius: 5px;
}
.detail_info{
	width: 320px;
	height: 260px;
	//outline: dotted 1px #000;
}
.detail_info .user_name{
	font-size: 14px;
	color: #0397cd;	
	margin: 10px 0 0 30px;
}
.user_photo{
	margin: 5px 0 5px 30px;
	border: solid 1px #d6d6d6;
	border-radius: 3px;
}
.user_mail_ico{
	margin: 0 5px 0 45px; 
	text-align: center; 
	width: 24px; 
	height: 40px;
}
.user_id_ico{
	margin: 0 5px 0 5px; 
	text-align: center;
	width: 24px; 
	height: 40px;
}
.user_send_ico{
	margin: 0 5px 0 5px; 
	text-align: center; 
	width: 24px; 
	height: 40px;
}
.mblog_ico{
	margin: 20px 0 0 45px; 
	width: 120px; 
	height: 20px;
}
.mblog_ico a{
	margin: 2px;
}
.detail_info a{
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;	
}
.detail_info p{
	margin: 0;
	font-size: 14px;
}
.user_status{
	background: #fff; 
	margin-top: 15px; 
	width: 760px; 
	height: 50px; 
	border: solid 1px #d6d6d6; 
	border-radius: 5px;
}
.user_status p{
	color: #444444; 
	font-size: 14px; 
	margin: 7px 10px 10px 30px;
}
.table_rating{
	width: 440px;
	height: 260px;
	//outline: dotted 1px #000;
}
.table_rating table{
	margin-left: 15px;
	font-size: 12px;
	font-weight: 500;
	color: #545454;
}
.table_rating table td{
	width: 80px;
	height: 25px;
}
.blog{
	background: #fff;
	margin-top: 15px; 
	width: 760px; 
	height: auto; 
	border: solid 1px #d6d6d6; 
	border-radius: 5px;
}
.blog ._item{
	width: 750px;
	height: 70px;
	margin: 10px 0 35px 5px;
	/*outline: solid 1px #000;	*/
}
.blog ._item ._photo{
	width: 70px;
	height: 70px;
	border: solid 1px #d6d6d6;
	border-radius: 3px;
	margin-left: 10px;
}
.blog ._item ._header{
	font-size: 14px;
	width: 655px;
	height: 20px;
	border-bottom: solid 1px #d6d6d6;
	margin-left: 10px; 
}
.blog  a{
	font-weight: bold;
	text-decoration: none;
}
.blog p{
	font-size: 14px;
	margin: 0;
}
.blog ._item ._content{
	width: 655px;
	height: 40px;
	margin: 20px 0 0 10px;
	text-indent: 40px;
}
/*------------------------------END CONTENT-----------------------------------------*/
/*------------------------------END MAIN-----------------------------------------*/